In [1]:
# Import the dependencies
import pandas as pd
from pprint import pprint
from pymongo import MongoClient
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base

In [2]:
# load credits.csv file and assign it to credits variable
creditsDF = pd.read_csv('Resources/credits.csv')
creditsDF.head()

   person_id       id             name           character   role
0      21174  tm19248    Buster Keaton         Johnny Gray  ACTOR
1      28713  tm19248      Marion Mack       Annabelle Lee  ACTOR
2      28714  tm19248    Glen Cavender    Captain Anderson  ACTOR
3      28715  tm19248       Jim Farley    General Thatcher  ACTOR
4      27348  tm19248  Frederick Vroom  A Southern General  ACTOR

In [3]:
# load titles.csv file and assign it to titles variable
titlesDF = pd.read_csv('Resources/titles.csv')
titlesDF.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
1,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
2,tm19424,Detour,MOVIE,"The life of Al Roberts, a pianist in a New Yor...",1945,NaN,66,"['thriller', 'drama', 'crime']",['US'],NaN,tt0037638,7.3,17233.0,7.757,7.2
3,tm112005,Marihuana,MOVIE,A young girl named Burma attends a beach party...,1936,NaN,57,"['crime', 'drama']",['US'],NaN,tt0026683,4.0,864.0,3.748,3.6
4,tm22806,Intolerance: Love's Struggle Throughout the Ages,MOVIE,"The story of a poor young woman, separated by ...",1916,NaN,197,"['history', 'drama']",['US'],NaN,tt0006864,7.7,15242.0,9.412,7.2

In [10]:
mergedDF = titlesDF.merge(creditsDF, how='inner', on='id')
mergedDF = mergedDF.rename(columns={'id':'MovieID', 'title':'Title', 'type':'Type',
                                   'description':'Description', 'release_year':'ReleaseYear',
                                   'age_certification': 'AgeCertification', 'runtime':'Runtime',
                                   'genres':'Genres', 'production_countries':'ProductionCountries',
                                   'seasons':'Seasons', 'imdb_id':'imdbID', 'imdb_score':'imdbScore',
                                   'imdb_votes':'imdbVotes', 'tmdb_popularity':'tmdbPopularity',
                                   'tmdb_score':'tmdbScore', 'person_id':'PersonID',
                                   'name':'Name', 'character':'Character', 'role':'Role'})
mergedDF

,MovieID,Title,Type,Description,ReleaseYear,AgeCertification,Runtime,Genres,ProductionCountries,Seasons,imdbID,imdbScore,imdbVotes,tmdbPopularity,tmdbScore,PersonID,Name,Character,Role
0,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0,21174,Buster Keaton,Johnny Gray,ACTOR
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0,28713,Marion Mack,Annabelle Lee,ACTOR
2,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0,28714,Glen Cavender,Captain Anderson,ACTOR
3,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0,28715,Jim Farley,General Thatcher,ACTOR
4,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0,27348,Frederick Vroom,A Southern General,ACTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39837,tm1045408,R.I.P. T-Shirts,MOVIE,"A small custom T-shirt shop in Washington, DC,...",2021,NaN,30,['documentation'],['US'],NaN,NaN,NaN,NaN,1.673,NaN,357110,Kate Davis,NaN,DIRECTOR
39838,tm1045408,R.I.P. T-Shirts,MOVIE,"A small custom T-shirt shop in Washington, DC,...",2021,NaN,30,['documentation'],['US'],NaN,NaN,NaN,NaN,1.673,NaN,68620,David Heilbroner,NaN,DIRECTOR
39839,tm1106415,Destination Porto: The Unimaginable Journey,MOVIE,Follow soccer journalist Guillem Belagué as he...,2021,PG,85,['documentation'],[],NaN,tt15430722,7.7,8.0,0.600,NaN,2078684,Guillem Balagué,NaN,ACTOR
39840,tm1106415,Destination Porto: The Unimaginable Journey,MOVIE,Follow soccer journalist Guillem Belagué as he...,2021,PG,85,['documentation'],[],NaN,tt15430722,7.7,8.0,0.600,NaN,2078564,Alex Gale,NaN,DIRECTOR
39841,tm1032011,Yukon's Wild Grizzlies,MOVIE,"Deep in Canada's remote Yukon, a dramatic comi...",2021,G,44,['documentation'],[],NaN,NaN,NaN,NaN,0.600,7.0,1856281,Phil Timpany,NaN,DIRECTOR

In [6]:
mergedDF.dtypes

id                       object
title                    object
type                     object
description              object
release_year              int64
age_certification        object
runtime                   int64
genres                   object
production_countries     object
seasons                 float64
imdb_id                  object
imdb_score              float64
imdb_votes              float64
tmdb_popularity         float64
tmdb_score              float64
person_id                 int64
name                     object
character                object
role                     object
dtype: object